@font-face {
  font-family: 'Quattrocento';
  src: url('Quattrocento-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quattrocento';
  src: url('Quattrocento-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}
